@(books : Set[Book])

@layout("All Books") {
    <h1>All Books</h1>

    @for(books <- books) {

        <a href="@routes.BooksController.show(book.Id)">@book.title</a>
        <p> price : @book.price</p>
        <p> author : @book.author</p>
        <p> id: @book.id</p>

        <a href="@routes.BooksControlleer.create()">Create Book</a>
    }
}